<div class="header">
  <h1 [routerLink]="'main'">My Blog</h1>
  <div class="header__user">
    <p *ngIf="userService.checkSessionUser() | async" class="header__user-name">
      Hello {{ sessionStorageService.getSession().login }}
    </p>
    <button
      *ngIf="!(userService.checkSessionUser() | async)"
      (click)="modalService.showModal$.next(true)"
    >
      Login
    </button>
    <button *ngIf="userService.checkSessionUser() | async" (click)="logout()">
      Logout
    </button>
  </div>
</div>
