<main>
  <form [formGroup]="postFG">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <label>
        <input [formControlName]="'title'" matInput type="text" />
      </label>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <label>
        <textarea
          [formControlName]="'description'"
          rows="5"
          matInput
        ></textarea>
      </label>
    </mat-form-field>
  </form>
  <div class="buttons">
    <div>
      <button
        [style.marginRight]="'16px'"
        mat-button
        color="primary"
        (click)="cancelBtnHandler()"
      >
        CANCEL
      </button>
      <button
        mat-raised-button
        color="accent"
        *ngIf="typeAction === 'create'"
        [disabled]="!postFG.valid"
        (click)="createPost()"
      >
        Add
      </button>
      <button
        mat-raised-button
        color="accent"
        *ngIf="typeAction === 'edit'"
        [disabled]="!postFG.valid"
        (click)="editPost()"
      >
        Save
      </button>
    </div>
    <button
      mat-raised-button
      color="warn"
      *ngIf="typeAction === 'edit'"
      (click)="removePost()"
    >
      REMOVE
    </button>
  </div>
</main>
