@import "../../../styles/placeholders";

:host {
  %field-text {
    font-size: 18px;
    line-height: 25px;
  }
  form {
    width: 100%;
  }
  input {
    font-weight: bold;
    @extend %field-text;
  }
  textarea {
    @extend %field-text;
  }
  .buttons {
    margin-top: 40px;
    @extend %flex-between;
  }
}
