<div class="modal">
  <div class="modal__content">
    <div class="modal__header">
      <div class="modal__close" (click)="_modalService.showModal$.next(false)">
        <span>🞩</span>
      </div>
      <h2>
        {{ typeContent === "login" ? "Login form" : "Registration form" }}
      </h2>
    </div>
    <div *ngIf="typeContent === 'login'" class="modal__block">
      <form [formGroup]="loginFG">
        <app-form-input
          [title]="'LOGIN:'"
          [fc]="loginFG.get('login')"
          [type]="'text'"
          [errorMessage]="loginErrors['login']"
        ></app-form-input>
        <app-form-input
          [title]="'PASSWORD:'"
          [fc]="loginFG.get('password')"
          [type]="'password'"
          [errorMessage]="loginErrors['password']"
        ></app-form-input>
      </form>
      <div class="modal__buttons">
        <button class="button-text" (click)="typeContent = 'registration'">
          REGISTRATION
        </button>
        <button
          [disabled]="!loginFG.valid"
          class="modal__button-default"
          (click)="loginHandler()"
        >
          Sign in
        </button>
      </div>
    </div>
    <div *ngIf="typeContent === 'registration'" class="modal__block">
      <form [formGroup]="registrationFG">
        <app-form-input
          [title]="'LOGIN:'"
          [fc]="registrationFG.get('login')"
          [type]="'text'"
          [errorMessage]="registrationErrors['login']"
        ></app-form-input>
        <app-form-input
          [title]="'PASSWORD:'"
          [fc]="registrationFG.get('password')"
          [type]="'password'"
          [errorMessage]="registrationErrors['password']"
        ></app-form-input>
        <app-form-input
          [title]="'CONFIRM PASSWORD:'"
          [fc]="registrationFG.get('passwordConfirm')"
          [type]="'password'"
          [errorMessage]="registrationErrors['passwordConfirm']"
        ></app-form-input>
      </form>
      <div class="modal__buttons">
        <button class="button-text" (click)="typeContent = 'login'">
          CANCEL
        </button>
        <button
          [disabled]="!registrationFG.valid"
          class="modal__button-default"
          (click)="registrationHandler()"
        >
          Register
        </button>
      </div>
    </div>
  </div>
</div>
