@-webkit-keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@mixin opacity-animation($time: 0.4s) {
  -webkit-animation: fade-in $time linear;
  -moz-animation: fade-in $time linear;
  -o-animation: fade-in $time linear;
  animation: fade-in $time linear;
}
@mixin text-truncate($max-lines) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $max-lines;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
