@import "../../../variables";

.fab {
  width: 56px;
  height: 56px;
  background-color: $primary;
  color: white;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  position: fixed;
  bottom: 32px;
  right: 32px;
  cursor: pointer;
  &:hover {
    background-color: desaturate($primary, 15%);
  }
  &:active {
    background-color: desaturate($primary, 30%);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
  &:disabled {
    background-color: lightgrey;
  }
}
