// TODO проверить/пофиксить все стили проекта на предмет дублирования
.app-content {
  margin-top: 64px;
  padding: 16px;
  @media (max-width: 599px) {
    margin-top: 56px;
  }
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
