@import "../../../styles/placeholders";

:host {
  button {
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 100;
  }
  li {
    &:not(:first-child) {
      padding-top: 24px;
    }
    article {
      @extend %wh-100-percent;
    }
  }
  cdk-virtual-scroll-viewport {
    width: 100%;
    height: calc(100vh - 64px);
    @media (max-width: 599px) {
      height: calc(100vh - 56px);
    }
  }
  // TODO пришлось удлать loader, почему-то он отображатется всего один раз
}
