@import "src/variables";
@import "src/mixins";

.modal {
  @include opacityAnimShow(0.1s);
  min-width: 100%;
  min-height: 100%;
  background: rgba(196, 196, 196, 0.4);
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    background-color: white;
    width: 750px;
    position: relative;
    @media (max-width: 749px) {
      width: auto;
    }
  }
  &__close {
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    border-radius: 2px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 16px;
    cursor: pointer;
    span {
      color: black;
      user-select: none;
      line-height: 13px;
    }
    &:hover {
      background-color: saturate($blue, 10%);
    }
    &:active {
      background-color: saturate($blue, 30%);
    }
  }
  &__header {
    height: $headerHeight;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      color: white;
    }
  }
  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }
  &__block {
    padding: 72px 72px 16px 72px;
    @media (max-width: 749px) {
      padding: 40px 40px 16px 40px;
    }
  }
  &__button-default {
    width: 144px;
  }
  form {
    display: flex;
    flex-direction: column;
    app-form-input:not(:first-child) {
      margin-top: 32px;
      display: block;
    }
  }
}
