// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "~@angular/material/theming";
@include mat-core();

$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-yellow);
$warn: mat-palette($mat-red);

$light-theme: mat-light-theme($primary, $accent, $warn);

@mixin set-theme($theme) {
  @include angular-material-theme($theme);
  $warnPalette: map-get($theme, warn);
  .snack-bar-error {
    background-color: mat-color($warnPalette, 900);
    color: mat-color($warnPalette, 50);
    .mat-simple-snackbar-action {
      color: mat-color($warnPalette, 50);
    }
  }
}

// TODO Добавить новые темы
// TODO сделать смену тем
@include set-theme($light-theme);
