@import "~@angular/material/theming";
@include mat-core();

@mixin set-snack-bar-error($theme) {
  $warnPalette: map-get($theme, warn);
  .snack-bar-error {
    background-color: mat-color($warnPalette, 900);
    color: mat-color($warnPalette, 50);
    .mat-simple-snackbar-action {
      color: mat-color($warnPalette, 50);
    }
  }
}

$deepPurplePalette: mat-palette($mat-deep-purple);
$yellowPalette: mat-palette($mat-yellow);
$redPalette: mat-palette($mat-red);
$lightGreenPalette: mat-palette($mat-light-green);
$indigoPalette: mat-palette($mat-indigo);
$blueGreyPalette: mat-palette($mat-blue-grey);
$amberPalette: mat-palette($mat-amber);

$purpleTheme: mat-light-theme($deepPurplePalette, $yellowPalette, $redPalette);
$indigoTheme: mat-light-theme($indigoPalette, $lightGreenPalette, $redPalette);
$blueGreyTheme: mat-light-theme($blueGreyPalette, $amberPalette, $redPalette);

.purple-theme {
  @include angular-material-theme($purpleTheme);
  @include set-snack-bar-error($purpleTheme);
}
.indigo-theme {
  @include angular-material-theme($indigoTheme);
  @include set-snack-bar-error($indigoTheme);
}
.blue-grey-theme {
  @include angular-material-theme($blueGreyTheme);
  @include set-snack-bar-error($blueGreyTheme);
}
